@font-face {
    font-family: "cairoFont";
    src: url(../fonts/Cairo-Regular.ttf);
}
body {
    font-family: "cairoFont", Arial, sans-serif ;
    background-color: #fafafa;

}
.top-menu {
    background-color: white;
}
nav {
    background-color: white ;
}
a {
    color:#000;
    text-decoration: none ;
    margin: 0 ;
    padding: 0 ;
}
/*تغيير الألوان الإفتراضية لجميع الأزرار في الموقع*/
button:not(#side-button) {
    background-color: transparent ;
    color: #bf40bf !important;
    border-color: #bf40bf !important;
}
/*تغيير الألوان الإفتراضية لجميع الأزرار في الموقع عند مرور مؤشر الفأرة على الزر*/
button:hover:not(#side-button) {
    color: #fff !important;
    background-color: #bf40bf !important;
}
.navbar-brand {
    font-size: 30px ;
    font-weight: bold ;
}
.nav-item {
    margin: 20px ;
    font-size: 18px ;
}
.nav-item.active {
    background-color: #c23ebd ;
}

.nav-item.active .nav-link {
    color: white !important;
}
.nav-item:hover {
    background-color: #c23ebd ;
}
.nav-item:hover .nav-link {
    color: white ;
}

.nav-link:hover {
    color: white !important;
}



#login {
    text-decoration: none;
}


.body-content {
    margin-top: 125px;
}


#channel-image {
    width: 30px;
}
.card a:hover {
    text-decoration: none;
}
.card {
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: translateY(-10px);
}

.card .card-title {
    height: 50px;
    overflow: hidden;
}
.card .image-container {
    position: relative;

}
.card .card-img-top {
    display: block;

}
.card .time-video {
    color: white;
    background-color: black !important;
    width: fit-content;
    padding: 0px 2px 0 2px;
    font-size: 15px;
    position: absolute;
    left: 5px;
    bottom: 10px;
}

.card .image-container i {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: rgba(71, 70, 70, 0.815);
    display: none;
}

.card:hover .image-container i {
    display: block;
}
#search a {
    text-decoration: none;
}

.filter-items a {
    text-decoration: none;
}